.header{
    margin-left: 10%;
    margin-right: 10%;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1% 10%;
}
.main-header-right{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-header img{
    height: 20px;
    margin-right: 10px;
}
.logo{
    height: 40px !important;
}
.main-header p{
    margin-right: 10px;
}
.bottom-header{
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    font-size: 15px;
}

